body{
    background-color: black;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1{
    color: orange;
}

img{
    width: 500px;
}
#menu{
    display: none;
}

#menu.ativo{
    display: block;
}